
.Projects {
  background-color: var(--tds-blue);
}

.Home-ProjectsContainer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.Projects .headline {
  color: white;
}

.Home-ProjectsLayer {
  align-items: center;
  display: flex;
}

.ProjectCard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  width: 28%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.319);
}

.ProjectCard .ProjectCard-CardBody {
  padding: 2em;
}

.ProjectCard:hover {
  box-shadow: none;
  outline: rgb(236, 236, 236) solid;
  outline-width: 2px;
}

@media screen and (max-width: 1000px) {
  .Home-ProjectsLayer {
    display: block;
  }
  .ProjectCard {
    width: 80%;
  }
}