.home-tagline {
  font-family: var(--tds-font-poppins);
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding: 0.5em;
  text-align: center;
  font-size: 36px;
  
}

.buttons{
    margin-left: 38em;
}
.Home-btn1{
    margin: 1em;
    padding: 1em;
    color: white;
    background-color: var(--tds-black);
    font-family: var(--tds-font-poppins);
    border:none ;
}
.Home-btn2{
    margin: 1em;
    padding: 1.1em;
    font-family: var(--tds-font-poppins);
    border: solid 1px var(--tds-black);
    background-color: white;
}
.about{
    background-color: var(--tds-black);
    padding: 10em;
}
h3{
    color: white;
    font-family: var(--tds-font-poppins);
}
 .Home-about_content{
    color: white;
    text-align: justify;
    padding: 1em;
    float: left;
}