
.Footer {
  margin-top: 3em;
  background-color: var(--tds-black);
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 4em;
  padding-bottom: 4em;

  margin-right: auto;
  margin-left: auto;
}

.footer-option-title {
  color: white;
  font-family: var(--tds-font-poppins);
  font-weight: 500;
}

.footer-upper-container {
  display: flex;
  padding-bottom: 3em;
  border-bottom: 1px solid;
  border-color: white;
}

.footer-options-container {
  margin-right: auto;
  margin-left: auto;
}

.footer-option-list {
  margin: 0;
  padding: 0px;
}

.footer-option {
  list-style: none;
  color: rgb(185, 185, 185);
  line-height: 24px;
  font-family: var(--tds-font-roboto);
}

.footer-option:hover {
  color: rgb(216, 216, 216);
}

.footer-lower-container {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.logo {
  width: 62px;
  border-radius: 100%;
}

.footer-lower-left-container {
  display: flex;
  align-items: center;
  float: left;
}

.footer-copyright-line {
  color: rgb(185, 185, 185);
  font-family: var(--tds-font-roboto);
  margin-left: 1em;
}

.footer-lower-right-container {
  float: right;
}

#footer-social-icons {
  font-size: 30px;
  margin-left: 2em;
  color: rgb(185, 185, 185);
}

#footer-social-icons:hover {
  color: rgb(216, 216, 216);
}

.footer-credits-line {
  margin-top: 3em;
  margin-bottom: -2em;
  text-align: center;
  color: rgb(185, 185, 185);
  font-family: var(--tds-font-roboto);
}

#footer-website-link {
  margin-left: 3px;
  border-bottom: 1px solid;
}