
.Guidelines {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#how-to-contribute, 
#code-of-conduct, 
#licence, 
#rules, 
#community-measures {
    font-family: var(--tds-font-poppins);
}

.sub-head1 {
    font-family: var(--tds-font-poppins);
}


.general-text {
    font-family: var(--tds-font-poppins);
}

.general-list {
    font-family: var(--tds-font-poppins);
}

.sub-head2 {
    font-family: var(--tds-font-poppins);
}

.code {
    font-family: var(--tds-font-code);
    background-color: rgb(228, 226, 226);
    padding: 1em;
    border-radius:15px ;
}

.special-text {
    background-color: var(--tds-black);
    font-family: var(--tds-font-code);
    color: #C9D1D9;
    padding: 0.2em;
    border-radius: 5px;
}

.sub-head3 {
    font-family: var(--tds-font-poppins);
}

.image {
    width: 50%;
}